<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

<head>
<meta charset="utf-8" />

<!-- Viewport Metatag -->
<meta name="viewport" content="width=device-width,initial-scale=1.0" />                                                                                                          
<!-- Plugin Stylesheets first to ease overrides -->
<link rel="stylesheet" type="text/css" href="/static/plugins/colorpicker/colorpicker.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/custom-plugins/wizard/wizard.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/plugins/colorbox/colorbox.css" media="screen" />

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/css/fonts/ptsans/stylesheet.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/css/fonts/icomoon/style.css" media="screen" />

<link rel="stylesheet" type="text/css" href="/static/css/mws-style.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/css/icons/icol16.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/css/icons/icol32.css" media="screen" />

<!-- Demo Stylesheet -->
<link rel="stylesheet" type="text/css" href="/static/css/demo.css" media="screen" />

<!-- jQuery-UI Stylesheet -->
<link rel="stylesheet" type="text/css" href="/static/jui/css/jquery.ui.all.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/jui/jquery-ui.custom.css" media="screen" />

<!-- Theme Stylesheet -->
<link rel="stylesheet" type="text/css" href="/static/css/mws-theme.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/css/themer.css" media="screen" />

{% block extrastyle %}{% endblock %}
<link rel="Shortcut Icon" href="/static/images/favicon.ico" />
<title>{% block title %}{{ title }}{% endblock %}</title>

</head>

<body>

    {% include "header.html" %}
    <!-- Start Main Wrapper -->
    <div id="mws-wrapper">
       
        {% include "leftmenu.html" %}
        <!-- Main Container Start -->
        <div id="mws-container" class="clearfix">
            {% block maincontainer %}{% endblock %}

        </div>
        
    </div>

    <!-- JavaScript Plugins -->
    <script type="text/javascript" src="/static/js/libs/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/jquery.placeholder.min.js"></script>

    <!-- jQuery-UI Dependent Scripts -->
    <script type="text/javascript" src="/static/jui/js/jquery-ui-1.9.0.min.js"></script>
    <script type="text/javascript" src="/static/jui/jquery-ui.custom.min.js"></script>
    <script type="text/javascript" src="/static/jui/js/jquery.ui.touch-punch.js"></script>

    <!-- Plugin Scripts -->
    <script type="text/javascript" src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/js/libs/excanvas.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/static/plugins/colorbox/jquery.colorbox.js"></script>

    <script type="text/javascript" src="/static/plugins/colorpicker/colorpicker-min.js"></script>
    <script type="text/javascript" src="/static/plugins/validate/jquery.validate-min.js"></script>
    <script type="text/javascript" src="/static/custom-plugins/wizard/wizard.min.js"></script>

    <!-- Core Script -->
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/core/mws.js"></script>

    {% block extrajs %}{% endblock %}{% block extrascripts %}{% endblock %}

</body>
</html>
