{% extends "base_generic.html" %}
{% block maincontainer %}  
            <div class="container">
                
            	<div class="mws-panel grid_8" style="margin-bottom:0px">
                    <h1>您在找的页面不存在</h1>
                </div>
               
                <!-- Panels End -->
            </div>
            <!-- Inner Container End -->
                       
            <!-- Footer -->
            <div id="mws-footer">
            	Copyright Your Website 2012. All Rights Reserved.
            </div>
            
{% endblock %}

