{% extends "base_generic.html" %}

{% block maincontainer %}
            <div id="tip" style="background:#333338;
            font-size:16px;
            color:#c6d62b; 
            padding:4px;
            border-width: 1px;
            border-style: solid;
            -moz-border-radius: 11px;
            -khtml-border-radius: 11px;
            -webkit-border-radius: 11px;
            border-radius: 11px;
            position:absolute;
            visibility:hidden;
            z-index:999"></div> 
                <div class="mws-panel grid_8" style="margin-bottom:0px">
                    <div class="mws-panel-header">
                        <span><i class="icon-magic"></i> IP统计记录</span>
                    </div>
                    <div class="mws-panel-body no-padding">

                        <table class="mws-datatable-fn mws-table" name="resips" id="resips" style="text-align:center;">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>编号</th>
                                    <th>访问时间</th>
                                    <th>协议类型</th>
                                    <th>风险值</th>
                                    <th>类型</th>
                                    <th>数据包大小</th>
                                    <th>源ip</th>
                                    <th>目的ip</th>
                                    <th>源端口</th>
                                    <th>目的端口</th>
                                    <th>流向</th>
                                    <th>进程名</th>
                                    <th>进程MD5</th>
                                    <th>加入白名单</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="mws-panel grid_8" >
                    <div class="mws-panel-body no-padding">

                        <table class="mws-datatable-fn mws-table" style="text-align:center;" id='ip_receiver_detail'>
                            <thead>
                                <tr>
                                    <th>可疑IP地址</th>
                                    <th>源IP</th>
                                    <th>目的ip</th>
                                    <th>源端口</th>
                                    <th>目的端口</th>
                                    <th>访问时间</th>
                                    <th>访问次数</th>
                                    <th>控制类型</th>
                                    <th>时段控制</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div id="mws-jui-dialog">
                    <div class="mws-dialog-inner">
                         <div id="container"></div>
                     </div>
                </div>
            {% include "userstatistic/ip_search_widget.html" %}
{% endblock %}
{% block extrascripts %}
    <script type="text/javascript" src="/static/js/infosecurity/infosecurity.table.js"></script>
    <script type="text/javascript" src="/static/js/infosecurity/userstatistic/ip.js"></script>
    <script type="text/javascript" src="/static/js/highstock/highstock.js"></script>
    <script type="text/javascript" src="/static/js/infosecurity/infosecurity.widget.js"></script>
    <script type="text/javascript" src="/static/js/infosecurity/infosecurity.validate.js"></script>
    <script type="text/javascript" src="/static/plugins/datatables/extra/TableTools.js"></script>
    <script type="text/javascript" src="/static/plugins/datatables/extra/ZeroClipboard.js"></script>
{% endblock %}

