<div id="blackIp_search_dialog">
<form id="blackIp_search" method="post" class="mws-form" action='/management/blackip_search/'>
    {% csrf_token %}
        <div id="mws-validate-error" class="mws-form-message error" style="display:none;"></div>
        <div class="mws-form-inline">
            <div class="mws-form-row">
                <label class="mws-form-label">IP类型</label>
                <div class="mws-form-item large">
                    <div id='blackIp_type'>
                        {% for id,value,text in iptypes %}
                        <input type="checkbox" name='blackiptype' value="{{value}}" id="{{id}}" /><label for="{{id}}">{{text}}</label>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="mws-form-row">
                <label class="mws-form-label">开始日期</label>
                <div class="mws-form-item large">
                    <input type="text" name='begintime' id='begintime' readonly="readonly"  class="mws-datepicker" />
                </div>
            </div>
            <div class="mws-form-row">
                <label class="mws-form-label">结束日期</label>
                <div class="mws-form-item large">
                    <input type="text" name='endtime' id='endtime' readonly="readonly"  class="mws-datepicker" />
                </div>
            </div>
            <div class="mws-form-row">
                <label class="mws-form-label">风险值</label>
                <div class="mws-form-item large">
                    <input type="text" name='riskvalue' id='riskvalue' />
                </div>
            </div>
            <div class="mws-form-row">
                <label class="mws-form-label">IP地址</label>
                <div class="mws-form-item large">
                    <input type="text" id='blackip' name='blackip' />
                </div>
            </div>
        </div>
    </form>
</div>
