<div id="white_email_add_dialog">
<form id="white_email_add" method="post" class="mws-form" action='/usersettings/white_email/'>
    {% csrf_token %}
        <div id="add-white_email-error" class="mws-form-message error" style="display:none;"></div>
        <div class="mws-form-inline">
            <div class="mws-form-row">
                <label class="mws-form-label">请输入Email</label>
                <div class="mws-form-item large">
                    <input type="text" name='white_email' id='white_email'/>
                </div>
            </div>
        </div>
    </form>
</div>
