{% extends "base_generic.html" %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/plugins/datatables/extra/TableTools.css" media="screen"/>

{% endblock %}
{% block maincontainer %}
<br/>
            <!-- Inner Container Start -->
            <div class="container">

                
                <div  class="mws-panel grid_8" style="margin-bottom:0px">
                    {% if add_success %}
                        {% if add %}
                        <div id='success' class="mws-form-message success">
                            您已经添加成功!
                        </div>
                        {% else %}
                        <div id='error' class="mws-form-message error">
                            您已添加过此项数据,请查看白名单详细数据!
                        </div>
                        {% endif %}
                    {% endif %}
                    <div id='info'>
                    </div>
                    <div class="mws-panel-header">
                        <span><i class="icon-magic"></i>Email白名单管理</span>
                    </div>
                    <div class="mws-panel-body no-padding">

                        <table class="mws-datatable-fn mws-table" name="white_email_list" id="white_email_list" style="text-align:center;">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>编号</th>
                                    <th>Email</th>
                                    <th>增加时间</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                    </div>
                </div>
               {% include "usersettings/white_email_add_widget.html" %}
                <!-- Panels End -->
            </div>
            <!-- Inner Container End -->
            {% endblock %}
            
{% block extrascripts %}
<script type="text/javascript" src="/static/js/infosecurity/infosecurity.table.js"></script>
<script type="text/javascript" src="/static/js/infosecurity/usersettings/white_email.js"></script>
<script type="text/javascript" src="/static/js/infosecurity/infosecurity.widget.js"></script>
<script type="text/javascript" src="/static/js/infosecurity/infosecurity.validate.js"></script>
<script type="text/javascript" src="/static/plugins/datatables/extra/TableTools.js"></script>
<script type="text/javascript" src="/static/plugins/datatables/extra/ZeroClipboard.js"></script>
{% endblock %}
