<div id="white_url_add_dialog">
<form id="white_url_add" method="post" class="mws-form" action='/usersettings/white_url/'>
    {% csrf_token %}
        <div id="add-white_url-error" class="mws-form-message error" style="display:none;"></div>
        <div class="mws-form-inline">
            <div class="mws-form-row">
                <label class="mws-form-label">请输入Url地址</label>
                <div class="mws-form-item large">
                    <input type="text" name='white_url' id='white_url'/>
                </div>
            </div>
        </div>
    </form>
</div>
